    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: linear-gradient(to right, #24362d, #247847);
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      text-align: center;
    }

    main {
      margin-top: 200px;
      padding: 20px;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 0.5rem;
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }    


    p {
      font-size: 1.25rem;
      margin-bottom: 2rem;
      max-width: 600px;
    }

    button {
      background-color: #e20e0e;
      border: none;
      padding: 1rem 3rem;
      font-size: 1.5rem;
      color: white;
      border-radius: 30px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      box-shadow: 0 4px 12px rgba(255, 64, 129, 0.6);
    }

    button:hover {
      background-color: #f50057;
    }

